body{
    background-color: rgb(169, 169, 223);
    color: white;
}
    
h1{
    margin: 30px;
    text-align: center;
}
a{
    list-style-position: inside;
    text-align: center;
    color: white;
    font-size: 25px;
}
a:visited{
    color: white;

}
a:hover{
    font-size: 30px;
}
a:active{
    color: white;
}
div{
    display: block;
    margin: auto;
    list-style-position: inside;
    text-align: center;
}